@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.mainContainer {
    background-image: url('/public/ShopWelcomeImages/elfinalo.png');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;
    font-family: 'Oswald', sans-serif;
    background-position: center;

    z-index: 1;
}

.pageLayout {
    font-family: 'Oswald', sans-serif;
    position: fixed;
    bottom: 30px;
    ;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;



}

.words {
    text-align: center;
    width: 80%;
    font-size: 25px;
    color: white;


}

.words h3 {
    font-style: italic;
    text-decoration-line: underline;
}

.title {
    font-size: 40px;
    margin-bottom: 25px;

}

.customSpan {
    font: 700 40px/1 "Oswald", sans-serif;
    letter-spacing: 12px;
    padding: 12px 0 13px;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    /* Clip Background Image */
    background: url('/public/ShopWelcomeImages/iu.jpeg') repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    animation: aitf 80s linear infinite;
    /* Added animation property */
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 300% 50%;
        /* Increase the value to make it faster */
    }
}

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 300% 50%;
        /* Increase the value to make it faster */
    }
}

p span {
    /* ... other styles ... */
    -webkit-animation: aitf 5s linear infinite;
    /* Adjusted animation duration */
    animation: aitf 5s linear infinite;
    /* Adjusted animation duration */
}